{% extends "layout.html" %}

{% block title %}ANSWER{% endblock title %}

{% block body %}
    {% if check_it %}
        <p>Correct!</p>
    {% else %}
        <p>Mistake! Correct number is {{guess}}</p>
    {% endif %}
    </br></br>
    <p>--------------------------------</p>
    <p>TOTAL POINTS: {{points}}</p>
    <p>COMP NUMBERS LOG: {{number_log}}</p>
    <p>YOUR NUMBERS LOG: {{your_number_log}}</p>
{% endblock body %}

{% block reference %}
<a href = "{{ url_for('form') }}">TRY AGAIN</a></br>
<a href = "{{ url_for('null_the_score')}}">NULL THE SCORE</a>
{% endblock reference %}
